
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div> 
        <h1>You may have not access For This. if you want then Contact Your Administrator</h1>
    </div>
</body>
</html>
