@{
    ViewBag.Title = "SupplierPayment";
}
<script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true, // for show progress bar
                "retrieve": true,
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Supplier/LoadPaymentData",
                    "type": "POST",
                    "scrollX": true,
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": true
                }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "Bill_ID", "name": "Bill_ID", "autoWidth": true },
                    {
                        'data': 'Date',
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        }
                    },
                    { "data": "Credit_Debit", "name": "Credit_Debit", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                                return "<a  class='btn btn-primary btn-sm text-white' onclick=Update('" + row.ID + "'); >Edit</a> <a  class='btn btn-danger btn-sm' onclick=Delete('" + row.ID + "'); >Delete</a>";
                        }
                    },
                ]

            });
            $("#newSearchPlace").html($(".dataTables_filter"));
            $("#newLengthPlace").html($(".dataTables_length"));
            });

      function Update(ID) {
          var url = '@Url.Content("~/" )' + "Supplier/EditPayment?id="+ID;
        window.location.replace(url)
}
    function Delete(CustomerID) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary transaction!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    var url = '@Url.Content("~/" )' + "Supplier/DeletePayment";
                    $.post(url, { ID: CustomerID }, function(data) {
                    if (data) {
                        oTable = $('#demoGrid').DataTable();
                        oTable.draw();
                        swal("Poof! Your imaginary transaction  has been deleted!", {
                            icon: "success",
                        });
                    } else {
                         alert("Something Went Wrong Record can't be Deleted!");
                           }
    });
                } else {
                    swal("Your imaginary transaction  is safe!");
                }
            });

}

</script>


<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Supplier Payment</h2>
    </div>
</header>
<div class="p-3">
    <div class="row">
        <div class="card col-12">
            <div class="card-header d-flex">
                <h3 class="h4 m-auto">Payments</h3>
            </div>
            <div class="card-body col-md-12">
                <div class="row p-3">
                    <div id="newLengthPlace" class="form-inline col-3"></div>
                    <div class="m-auto">
                        <a href="@Url.Action("AddPayment","Supplier")" class="btn btn-info btn-sm"> <i class="icon fa fa-plus"></i> New Payment </a>
                    </div>
                    <div id="newSearchPlace" class="form-inline" style="padding-left:0px;"></div>
                </div>
                <div class="table-responsive">

                    <table id="demoGrid" class="table table-striped table-sm" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>BillNo</th>
                                <th>Date</th>
                                <th>جمع رقم</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




